<div class="main">


  <div class="section datos">

      <div>
          <h1>Encontranos en la zona del <span class="bold">Abasto</span></h1>
          <p><span class="bold">San Luis 3419</span> Buenos Aires Argentina 1189 </p>
          <p>De <span class="bold">Lunes</span> a
              <span class="bold">Viernes</span> de
              <span class="bold">8:00</span> a
              <span class="bold">18:00</span> y sabados de
              <span class="bold">9:00</span> a
              <span class="bold">13:30</span>
          </p>
      </div>
      <div>
          <img src="./../../../assets/local-frente.avif" alt="">
      </div>

  </div>

</div>
