

.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.section {
  height: 25rem;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

  img {
      width: 100%;
      height: auto;
  }
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #6eb0ec14;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
}

.bold {
  font-weight: 700;
  color: var(--primary-color);
}
