<div class="main">


  <div class="section datos">

    <div
    class="section datos"
      style="
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        text-align: center;
      "
    >
      <h1 style="font-size: 2.5em">
        Encontranos en la zona del
        <span style="font-weight: bold; color: #000">Abasto</span>
      </h1>
      <p style="font-size: 1em; color: #555; line-height: 1.6; margin: 10px 0">
        <span style="font-weight: bold; color: #000">San Luis 3419</span> Buenos
        Aires, Argentina 1189
      </p>
      <p style="font-size: 1em; color: #555; line-height: 1.6; margin: 10px 0">
        De <span style="font-weight: bold; color: #000">Lunes</span> a
        <span style="font-weight: bold; color: #000">Viernes</span> de
        <span style="font-weight: bold; color: #000">8:00</span> a
        <span style="font-weight: bold; color: #000">18:00</span> y sábados de
        <span style="font-weight: bold; color: #000">9:00</span> a
        <span style="font-weight: bold; color: #000">13:30</span>
      </p>
    </div>

  </div>

</div>


