<nav>
  <div class="nav__logo">
    <div>
      <img class="img_header" [src]="'./assets/mep-code-centra.PNG'" alt="" />
    </div>
    MEP-DevCode
  </div>
  <div class="nav__contact">
    <div class="nav__contact__card">
      <span><i class="ri-phone-line"></i></span>
      <div>
        <p>Llamanos</p>
        <h4>{{ numberFijo }}</h4>
      </div>
    </div>
    <div class="nav__contact__card">
      <span><i class="ri-mail-line"></i></span>
      <div>
        <p>Email</p>
        <h4>{{ email }}</h4>
      </div>
    </div>
  </div>
</nav>
<header class="header__container">
  <div class="header__image">
    <div class="header__image__card header__image__card-1">
      <span><i class="ri-key-line"></i></span>
      lavarropas
    </div>
    <div class="header__image__card header__image__card-2">
      <span><i class="ri-passport-line"></i></span>
      Heladeras
    </div>
    <div class="header__image__card header__image__card-3">
      <span><i class="ri-map-2-line"></i></span>
      Aires Acondicionados
    </div>
    <div class="header__image__card header__image__card-4">
      <span><i class="ri-guide-line"></i></span>
      Instalación y Reparación
    </div>
    <img src="https://www.hogarservice.com.ar" style="visibility: hidden !important" alt="header" />
  </div>
  <div class="header__content">
    <h1>
      Mantenimiento y reparación de <span>lavadoras</span> y
      <span>secadoras</span>.
    </h1>
    <p>
      Realizamos service a domicilio de todas las marcas de lavarropas que se
      encuentran en el mercado. Respondemos de forma inmediata al problema de tu
      equipo y contamos con movilidad propia para ir a cualquier punto de
      Capital Federal o Zona Norte de Gran Buenos Aires.
    </p>
    <form action="/">
      <div class="row">
        <div class="">
          <p class="text-contact">Brindamos atencion personalizada</p>
        </div>
      </div>
      <button type="submit">
        <i class="ri-whatsapp-fill"></i> Contactanos
      </button>
    </form>
  </div>
  <app-location></app-location>
  <app-map style="height: 100%"></app-map>
</header>

<div class="body_container">
  <img
  style="
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0 0 0 / 57%);
  "
  src="assets/local-frente.png"
  alt=""
/>

  <ng-container *ngFor="let section of seccions">
    <app-seccion [section]="section"> </app-seccion>
  </ng-container>

  <div class="bar">Copyright © 2025 mep_codedev All rights reserved.</div>
</div>
